@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(240, 78%, 98%);
  color: hsl(232, 13%, 33%);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  min-height: 100vh;
  background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 30%, 30%;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* heading */

h1 {
  font-size: 35px;
  color: hsl(233, 13%, 49%);
}

/* main caintainer  */
.container header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
  margin-top: 5rem;
}

/* choose plan */

.plan {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-top: 15px;
  color: hsl(234, 14%, 74%);
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

/* checkbox section to select switch */

.checkbox {
  display: none;
}

.container {
  margin: 0 1rem;
}

.ball {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  display: flex;
  align-items: center;
  height: 2.1rem;
  width: 4rem;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
}

.circle {
  background: white;
  height: 27px;
  width: 27px;
  border-radius: 50%;
}

.checkbox:checked + .ball {
  justify-content: flex-end;
}

.ball:hover {
  background: hsl(236, 66%, 84%);
}

/* types of plans section */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* for all plan types */

.plan-box {
  font-family: "Montserrat", sans-serif;
  color: hsl(233, 13%, 49%);
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 350px;
  height: 460px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* plan name heading */

h3 {
  font-family: "Montserrat";
  font-size: 18px;
  color: hsl(233, 13%, 49%);
  margin: 3px;
  padding: 10px;
}

/* created a flex for price dollar size */
.price {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 60px;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: hsl(232, 13%, 33%);
}

.dollar {
  font-size: 38px;
  margin-right: 7px;
}

ul {
  border-top: 1.5px solid hsla(240, 8%, 85%, 0.582);
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0;
}

ul li {
  border-bottom: 1.5px solid hsla(240, 8%, 85%, 0.582);
  padding-bottom: 10px;
  padding: 20px;
  margin: 0;
  width: 270px;
}

/* for the premium type */

.plan-box.midBox ul {
  border-top: 1.5px solid hsla(240, 8%, 85%, 0.253);
}

.plan-box.midBox ul li {
  border-bottom: 1.5px solid hsla(240, 8%, 85%, 0.253);
}

.plan-box.midBox {
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  padding: auto;
  width: 380px;
  height: 500px;
}

.plan-box.midBox h3,
.plan-box.midBox .price {
  color: white;
}

/* bottom "learn more" button for plans*/

.plan-box button {
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  padding: 16px;
  margin-top: 10px;
  width: 97%;
  text-transform: uppercase;
  cursor: pointer;
}

.plan-box button:hover {
  background-image: none;
  border: 1px solid hsl(237, 63%, 64%);
  background-color: #fff;
  color: hsl(237, 63%, 64%);
}

/* bottom "learn more" button for middle plan*/

.plan-box.midBox button {
  color: hsl(237, 63%, 64%);
  background-color: white;
  background-image: none;
  border: none;
}

.plan-box.midBox button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

/* to switch-price whenever the checkbox changed by click*/

.plan-box .monthly {
  display: none;
}

.switch-price .plan-box .monthly {
  display: block;
}

.switch-price .plan-box .annually {
  display: none;
}

/* for mobile view */

@media screen and (max-width: 800px) {
  .flex {
    flex-direction: column;
  }

  .plan-box.midBox {
    width: 350px;
    margin: 20px;
    transform: scale(1);
  }
}
